@page "/products"
@using System.Data
@using Produits.Managers.Storages
@using Produits.Models.Products
@inject IProductStore productStore
<h3> liste des Produits</h3>
<button class="btn btn-primary" @onclick="loadProduits">Liste des produits</button>
<div>
    <label>@nombre produits trouvés</label>
</div>
<div>
    <table class="table">
        <tr>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Valeur</th>
        </tr>
        @foreach (Product product in products)
        {
            <tr>
                <td>
                    <a href="/products/@product.Id">@product.Designation</a>
                </td>
                <td>@product.Quantite</td>
                <td>@product.Prix</td>
                <td>@product.Valeur</td>
            </tr>
        }
    </table>
</div>

@code {
    private int nombre = 0;
    List<Product> products = new List<Product>();

    private void loadProduits()
    {
        products = productStore.GetProducts();
        nombre = products.Count;
    }
}